<ion-modal-view>
    <div class="bar bar-header bar-positive">
        <h1 class="title">เพิ่มรายวิชา</h1>
        <button ng-click="closeAdd()" class="button button-clear"><i class="icon ion-ios-close-outline"></i>
        </button>
    </div>
    <ion-content padding="false" class="has-header" overflow-scroll="false">
        <form class="list" name="form" >
            <label class="item item-input item-stacked-label">
                <span class="input-label">รหัสวิชา</span>
                <input ng-model="post.courseid" type="text" placeholder="946-100" required>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">ชื่อวิชา</span>
                <input ng-model="post.coursename" type="text" placeholder="Introduction to Information Technology" required>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">ชื่อย่อ</span>
                <input ng-model="post.alias" type="text" placeholder="IT" required>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">กลุ่มที่</span>
                <input ng-model="post.section" type="text" placeholder="1" required>
            </label>
            <div class="padding-left padding-right">
                <button ng-click="add()" class="button button-positive button-outline button-block" ng-disabled="form.$invalid"><i class="icon ion-ios-plus-outline">   เพิ่มวิชา</i></button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>