<ion-popover-view>
    <ion-content>      
      <ion-list class="no-padding">
            <ion-item class = "item item-icon-left item-text-wrap " href="" ng-click="showFilterBar()" >
                <p>ค้นหา</p>
                    <i class="icon ion-ios-search"> </i> 
            </ion-item>
             <ion-item class = "item item-icon-left item-text-wrap " href="" ng-click="importStudent()" >
                <p>นำเข้ารายชื่อนักศึกษา</p>
                <i class="icon ion-archive"></i> 
            </ion-item>
             <ion-item class = "item item-icon-left item-text-wrap no-padding" href="" ng-click="ExportData()" >
                <p>ส่งออกข้อมูลการเข้าเรียน</p>
                    <i class="icon ion-ios-cloud-upload-outline"> </i> 
            </ion-item>
             <ion-item class = "item item-icon-left item-text-wrap " href="" ng-click="deleteAllStudent()" >
                <p>ลบนักศึกษาทั้งหมด</p>
                    <i class="icon ion-ios-trash"> </i> 
            </ion-item>
        </ion-list>

    </ion-content>
</ion-popover-view>