<ion-popover-view>
    <ion-content>      
      <ion-list>
               <ion-item  ng-click="showFilterBarClass()" href="" class="item item-icon-left item-text-wrap ">
                    <i class="icon ion-ios-search"> </i> ค้นหา
                 </ion-item>
                <ion-item  ng-click="gotoreportpop()" href="" class="item item-icon-left item-text-wrap ">
                    <i class="icon ion-document-text"> </i> ดูรายงานสถานะ
                 </ion-item>
               <ion-item  ng-click="deleteAllClass()" href="" class="item item-icon-left item-text-wrap ">
                    <i class="icon ion-ios-trash"> </i> ลบคาบเรียนทั้งหมด
                 </ion-item>
        </ion-list>

    </ion-content>
</ion-popover-view>