<ion-popover-view>
    <ion-content>      
      <ion-list>
               <ion-item ng-click="showFilterBarcourse()" href="" class="item item-icon-left item-text-wrap ">
                    <i class="icon ion-ios-search"></i> ค้นหา
                </ion-item>
                <ion-item ng-click="deleteAllCourse()" href="" class="item item-icon-left item-text-wrap ">
                    <i class="icon ion-ios-trash"> </i> ลบรายวิชาทั้งหมด
                </ion-item>
                <ion-item   ng-click="Reset()" href="" class="item item-icon-left item-text-wrap ">
                    <i class="icon ion-ios-bolt"> </i> รีเซตทั้งหมด
                </ion-item >
        </ion-list>
    </ion-content>
</ion-popover-view>